﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    AVON Products<br />
    State Road #1 - KM 26.4, Caguas,PR 00725-0000<br />
    <abbr title="Phone">P:</abbr>
    787.653.0000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:andres.plaud@avonpr.com">andres.plaud@avonpr.com</a><br />
    <strong>Supply Chain:</strong> <a href="mailto:evelyn.morales@avonpr.com">evelyn.morales@avonpr.com</a>
</address>