﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
@*<img src="~/Images/Regular_AvonLogo.jpg" alt="Images folder" /> <br />*@
<h2>Home</h2> <br />
@*<input type="button" value="Search" onclick="location.href='@Url.Action("Product", "Home")'" />*@



<div class="jumbotron">
    <h1>AVON Purchase Orders</h1>

    <p class="lead">Search information about products receiving status and manifests details.</p>
    <p><a href="@Url.Action("Product", "Home")" class="btn btn-primary btn-lg">Product LookUp &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Display Purchase Order</h2>
        <p>
            Enable user to display the Purchase Order Document for the selected manifest....
        </p>

        @*<p><a class="btn btn-default" href="@Url.Action("DownloadPO", "Home")" target="_blank">P. O. LookUp &raquo;</a></p>*@
    </div>

    @*<div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>
