﻿@model List<PurchaseOrderReceivings.Models.ViewModel.ProductManifests>



@using (Html.BeginForm())
{<div>
    <h1>List of Manifests</h1> <span class="alert-success">@ViewBag.Message</span>

                               <div class="row">
                                   <div class="col-md-4">
                                       @*@Html.LabelFor(Model => Model.FirstOrDefault().Product_Code)*@
                                       @Html.LabelFor(Model => Model.FirstOrDefault().Product_Code, htmlAttributes: new { @class = "control-label col-md-4" })
                                   </div>
                                   <div class="col-md-8">
                                       @*@Html.DisplayFor(Model => Model.FirstOrDefault().Product_Code)*@
                                       @Html.DisplayFor(Model => Model.FirstOrDefault().Product_Code, new { htmlAttributes = new { @class = "form-control" } })
                                   </div>
                               </div>

                                <div class="row">
                                       <div class="col-md-4">
                                           @Html.LabelFor(Model => Model.FirstOrDefault().Product_Description, htmlAttributes: new { @class = "control-label col-md-4" })
                                       </div>
                                       <div class="col-md-6">
                                           @Html.DisplayFor(Model => Model.FirstOrDefault().Product_Description, new { htmlAttributes = new { @class = "form-control" } })
                                       </div>
                                </div>

                                   <div class="form-group">
                                       <table class="table table-striped table-condensed table-hover">
                                           <thead>
                                               <tr>
                                                   <th>Manifest Number</th>
                                                   <th>Receiving Date</th>
                                                   <th>Received Quantity</th>                                                  
                                               </tr>
                                           </thead>
                                           <tbody>
                                               @foreach (var i in Model.OrderByDescending(x => x.WH_Receipt_Date))
                                               {
                                                   <tr>
                                                       <td> @Html.DisplayFor(m => i.Manifest_Number)</td>
                                                       <td> @Html.DisplayFor(m => i.WH_Receipt_Date)</td>
                                                       <td> @Html.DisplayFor(m => i.Received_Quantity)</td>
                                                   </tr>
                                               }
                                           </tbody>
                                       </table>
                                   </div>

</div>
}
 <div>
     @Html.ActionLink("Back to Product", "Product")
 </div>


