﻿@model PurchaseOrderReceivings.Models.ViewModel.ProductModel
<br />
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<h2>Product</h2>
<br />

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Search Product Receiving Manifests</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(Model => Model.Product_Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(Model => Model.Product_Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(Model => Model.Product_Code, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(Model => Model.Product_Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" >
                @Html.DisplayFor(Model => Model.Product_Description, new { htmlAttributes = new { @class = "form-control" } })
            </div>

        </div>

        <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Search" class="btn btn-default" />
                    @*@(Url.Action("Product", "Home", new { product = Model.Product_Code }))*@
                </div>
        </div>
    </div>


}

<div>
    @Html.ActionLink("Back to Home", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
